Spring:
  datasource:
    username: root
    password: password
    url: jdbc:mysql://localhost:3306/movies

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true